.Num {
    background-image: url(../src/components/image/Horloge.gif);
    background-position: left;
    // background-size: ;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2rem;
    text-align: center;
    font-size: 40px;
    padding: 1rem;
}


.Hours, .Minutes, .Seconds {
    font-size: 40px;
    background-color: black;
    padding: 5px; /* Espacement intérieur pour créer une bordure autour du contenu de la classe Hours */
    border-radius: 5px; /* Ajoute un arrondi aux coins pour créer un effet de cadre */
    display: inline-block; /* Permet de garder la largeur du cadre aussi petite que possible */
}
// div {
    
// }