.Num{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2rem;
    background-color: rgb(42, 66, 66);
    text-align: center;
    
}
.night{
    /* Styles pour le jour */
    background-image: url('./components/Images/Night.jpg'); 
  }
p{
    font-size: 40px;
}
// div {
    
// }